@import "fonts";

:root {
  --dark-color: #000000;
  --light-color: #ffffff;
}

body {
  font-family: "JetBrains Mono", sans-serif;
  background-color: var(--dark-color);
  color: var(--light-color);
}
